@import '../../../common';

#homepage{
  background: transparent;
  width: 100%;

  // mobile specific styling
  @media (max-width: $EMP-mobile-max) {
    text-align: center;

    .titleArea {
      background: url('../../../assets/images/homepage_hero-sm-xhdpi.jpg') no-repeat center center fixed;
      justify-content: center;
      padding-bottom: 2vh;

      .titleContent {
        width: 90%;
        div {
          margin: 30px 0;
        }
      }
    }

    .infoRow {
      img.watch {
        width: 90%;
        height: auto;
        margin-bottom: 50px;
      }
    }
  }

  // desktop specific styling
  @media (min-width: $EMP-full-min) {
    text-align: left;

    .titleArea {
      background-image: url('../../../assets/images/homepage_hero-lg-xhdpi.jpg');
      justify-content: flex-start;
      padding-bottom: 10vh;

      .titleContent {
        margin-left: 12%;
        width: 50%;
        div {
          margin: 22px 0;
        }
      }
    }

    .infoRow {
      img.watch {
        margin-left: 17%;
        width: 90%;
        height: auto;
      }
    }
  }

  .container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .titleArea {
    color: $EMP-white;
    height: 100vh;
    display: flex;
    align-items: flex-end;

    // mobile default
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

    button {
      background: transparent;
      color: $EMP-white;
      font-weight: bold;
      border-color: $EMP-white;
      border-radius: 5px;
      border-width: 2px;
      height: 50px;
      width: 190px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }

    button:hover {
      background-color: $EMP-white;
      color: $EMP-dark-grey;
      cursor: pointer;
    }
  }

  .infoRow {
    background: $EMP-white;
    width: 100%;
    margin: 60px 0;

    button {
      background: $EMP-red;
      color: $EMP-white;
      border-radius: 5px;
      border-width: 2px;
      width: 250px;
      height: 50px;
      border-color: $EMP-red;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }

    button:hover {
      background-color: $EMP-white;
      color: $EMP-red;
      cursor: pointer;
    }
  }

  .footerRow {
    text-align: center;
    background: $EMP-light-grey;
    color: $EMP-dark-grey;
    height: 80px;
    margin: 0;

    a {
      color: $EMP-dark-grey;
    }

    p {
      margin: 0;
    }
  }

  .footerRow:last-child {
    border-top: 1px solid $EMP-dark-grey;
  }
}

