@import '../../../common';

#homepage{
  background: transparent;
  width: 100%;

  .container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;


  }

  .row {
    margin: 0;
    width: 100%;
  }

  .titleRow {
    color: $EMP-white;
    height: 100vh;
    padding-top: 320px;
    padding-right: 40%;

    // mobile default
    background: url('../../../assets/images/homepage_hero-sm-xhdpi.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-width: $EMP-full-min) {
      background-image: url('../../../assets/images/homepage_hero-lg-xhdpi.jpg');
    }

    button {
      background: transparent;
      color: $EMP-white;
      border-color: $EMP-white;
      border-radius: 5px;
      border-width: 2px;
      width: 350px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }

    button:hover {
      background-color: $EMP-white;
      color: $EMP-dark-grey;
      cursor: pointer;
    }
  }

  .infoRow {
    background: $EMP-white;
    width: 100%;

    button {
      background: $EMP-red;
      color: $EMP-white;
      border-radius: 5px;
      border-width: 2px;
      border-color: $EMP-red;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }

    button:hover {
      background-color: $EMP-white;
      color: $EMP-red;
      cursor: pointer;
    }
  }

  .footerRow {
    text-align: center;
    background: $EMP-light-grey;
    color: $EMP-dark-grey;

    a {
      color: $EMP-dark-grey;
    }
  }
}

