@import "../../../../common";

.login {
  width: 100%;
  height: 100vh;
  background-color: $EMP-light-grey;
  background-image: linear-gradient(-70deg, $EMP-black, $EMP-light-grey);
  padding-top: 25vh;

  .row {
    .col {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px;

      .card {
        background-color: $EMP-white;
        padding: 15px;

        // use full screen width if mobile
        @media (max-width: $EMP-mobile-max) {
          width: 90%
        }

        // keep it reasonably sized if desktop
        @media (min-width: $EMP-full-min) {
          width: 50%;
        }

        button {
          background: $EMP-red;
          color: $EMP-white;
          border-radius: 5px;
          border-width: 2px;
          border-color: $EMP-red;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
        }

        button:hover {
          background-color: $EMP-white;
          color: $EMP-red;
          cursor: pointer;
        }
      }
    }
  }
}