@import '../../../../common';


.col-sm-6 {
  margin-bottom: 10px;
}

div.orderPreview {
  border-color: $EMP-black;
  border-radius: 10px;
  border-width: 5px;
  background-color: $EMP-white;
  height: 100%;

  .card-header {
    background-color: $EMP-white;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      margin-top: 15px;
    }

    div:first-child {
      margin-top: 0;
    }

    li {
      background-color: $EMP-light-grey;
    }

    button {
      margin-top: 15px;
      width: 100%;
      height: 40px;
      background: $EMP-red;
      color: $EMP-white;
      border-radius: 5px;
      border-width: 2px;
      border-color: $EMP-red;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }

    button:hover {
      background-color: $EMP-white;
      color: $EMP-red;
      cursor: pointer;
    }
  }
}

.fr {
  float: right;
  color: $EMP-red;
}